{% extends 'myapp/base.html' %}

{% block title %}Lista de Alumnos{% endblock title %}

{% block content_title %}
    Alumnos Registrados:
{% endblock content_title %}
{% block content %}

    <a href="{% url 'alumnos_app:new_alumno' %}" class="btn btn-primary mb-3">Crear alumno</a>        
    <form action="{% url 'alumnos_app:estudiantes' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar..." type="submit" class="form-control mb-3">
    </form>
{% endblock content %}
{% block tabla %}
    

<div class="d-flex justify-content-center mt-4">
    <table class="table table-bordered">
        <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in estudiantes_list %}
                    <tr>
                        <td>{{ alumno.nombre }} </td>
                        <td>{{ alumno.apellido }}</td>
                        <td>{{ alumno.direccion }}</td>
                        <td>{{alumno.email}}</td>
                    </tr>
              
                {% endfor %}

            </tbody>
   
        </table>
    </div>
{% endblock tabla %}

